<!--@subject Dealer Inquiry Submission Successful @-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">

                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">

                    <tr>
                        <td valign="top" colspan="5">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">{{trans "Hello"}} {{var data.firstname}}  {{var data.lastname}} {{trans ","}}</h1>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" colspan="5">
                            <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#F9F9F9;">{{trans "Thank you for your dealer inquiry at %store_name." store_name=$store.getFrontendName()}} {{trans "We will process it and contact back soon."}}</td>
                    </tr>

                    <tr>
                        <td valign="top" colspan="5">
                            <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#F9F9F9;">{{trans "Looking forward to doing business with you!" }}</td>
                    </tr>

                    <tr>
                        <td valign="top" colspan="5">
                            <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#F9F9F9; text-align:center;"><strong>Thank you again</strong></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>


