.dealer-Field{
    float: left;
    display: block;
    position: relative;
    width: 100%;
}
.dealer-Label{
    float: left;
    width: 20%;
    margin-left: 0;
    padding-right: 30px !important;
}
.dealer-Control{
    float: left;
    position: relative;
    padding: 8px 0 0;
    margin: 0;
    width: 60%;
}
.dealer_image{
    display: inline-block;
}
