<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>

        <add id="JB_AumikaFramework::jb_homecategory" title="Homepage Category" module="JB_HomeCategory" sortOrder="10" parent="JB_AumikaFramework::jitesh" action="adminhtml/system_config/edit/section/jb_homecategory" resource="JB_AumikaFramework::jb_homecategory"/>
    </menu>
</config>
