<?xml version="1.0"?>
<!-- 

 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket Datagenerator v2.x.x
 * @copyright   Copyright (c) 2016-2017 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement

 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Plumrocket_Datagenerator::prdatagenerator" title="Data Feed Generator" module="Plumrocket_Datagenerator" parent="Plumrocket_Base::elements" sortOrder="1858869" resource="Plumrocket_Datagenerator::prdatagenerator" />
        <add id="Plumrocket_Datagenerator::manage_prdatagenerator" title="Manage Data Feed List" module="Plumrocket_Datagenerator" parent="Plumrocket_Datagenerator::prdatagenerator" sortOrder="10" action="prdatagenerator/datagenerator/" resource="Plumrocket_Datagenerator::prdatagenerator"/>
        <add id="Plumrocket_Datagenerator::prdatagenerator_configuration" title="Configuration" module="Plumrocket_Datagenerator" parent="Plumrocket_Datagenerator::prdatagenerator" sortOrder="20" action="adminhtml/system_config/edit/section/prdatagenerator" resource="Plumrocket_Datagenerator::prdatagenerator_configuration"/>
    </menu>
</config>