<?xml version="1.0"?>
<!--
/**
* Plumrocket Inc.
* NOTICE OF LICENSE
* This source file is subject to the End-user License Agreement
* that is available through the world-wide-web at this URL:
* http://wiki.plumrocket.net/wiki/EULA
* If you are unable to obtain it through the world-wide-web, please
* send an email to support@plumrocket.com so we can send you a copy immediately.
*
* @package     Plumrocket Search Autocomplete & Suggest
* @copyright   Copyright (c) 2019 Plumrocket Inc. (http://www.plumrocket.com)
* @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <prsearch>
            <general>
                <serial></serial>
            </general>
            <search>
                <search_by_tags>0</search_by_tags>
                <filter_categories_enable>1</filter_categories_enable>
                <filter_categories_exclude></filter_categories_exclude>
                <query_delay>600</query_delay>
                <like_separator>and</like_separator>
            </search>
            <product_suggestion>
                <enable>1</enable>
                <count>5</count>
                <thumbs_show>1</thumbs_show>
                <price_show>1</price_show>
                <rating_show>1</rating_show>
                <short_description_show>1</short_description_show>
                <short_description_lenght>80</short_description_lenght>
            </product_suggestion>
            <keyword_suggestion>
                <category_enable>1</category_enable>
                <category_count>5</category_count>
                <terms_enable>1</terms_enable>
                <terms_count>5</terms_count>
            </keyword_suggestion>
        </prsearch>
    </default>
</config>
