<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="jb_settings" frontName="jb_settings">
            <module name="JB_AumikaFramework" />
        </route>
    </router>
</config>