<!--@subject Installment Payment for the Order {{var order_id}} is overdue at {{var store.getFrontendName()}} @-->

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" bgcolor="#eaeced" style="background-color: #eaeced;margin:0; padding:0; -webkit-text-size-adjust:none; -ms-text-size-adjust:none;width:100%;margin: 0 auto;padding: 25px 0px;">

<div style="width:100%;margin: 0 auto;max-width: 600px">
    <div class="logodiv" style="width:100%;text-align: center">
        <a href= "{{var store_url}}">
            <img width="244px" src = "{{var logo_url }}" alt="{{var logo_alt}}" border="0" />
        </a>
    </div>

    <table style="color: #888888;">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <table  cellspacing="0" cellpadding="20" border="0">
                    <tr style="background-color: #fff">
                        <td valign="top" colspan="5">
                            <p style="color:#888888; font-size:20px; margin-bottom: 16px;">Hello <span style="font-size: 20px;color:#000;">{{var customer_name}}</span>,</p>
                            <p style="color:#888888; font-size:16px; margin-bottom: 0px;">
                                The installment payment for the order {{var order_id}} at {{var store.getFrontendName()}} is unpaid on the {{var due_date}}.
                                Please pay the installment ASAP by <a style="color: #f1592a" href='{{config path="web/secure/base_url"}}customer/account/login'>Logging into your Account </a>
                                to avoid order cancellation or penalty charges.
                                <br><br>
                                Your installment payment detail is as below:
                                </p>
                        </td>
                    </tr>
                    <tr style="background-color: #fff">
                        <td  align="center" style="background:#fff; text-align:center;font-size: 14px;color: #010101;    padding-top: 0;padding-bottom: 0;">
                            {{var partialpayment_installment_grid|raw}}
                        </td>
                    </tr>
                    <tr style="background-color: #fff">
                        <td valign="top" colspan="5" style="padding-top: 0;">
                            <p style="color:#888888; font-size:16px; margin-bottom: 0px;text-align: center">
                                If you have paid recently, ignore this Email and accept our thanks.
                            </p>
                        </td>
                    </tr>
                    <tr style="background-color: #fff;margin-top: 20px;display: block;">
                        <td valign="top" colspan="5" style="padding: 0">
                            <p style=" font-size:16px; line-height:25px; margin:0; padding:13px 18px; background:#fff; text-align:center;color: #888888">
                                <span style="width: 100%;float: left;text-transform: uppercase;font-size: 26px;margin: 10px 0;color: #f1592a;font-weight: bold;">Thank you!</span>
                                for choosing {{var store.getFrontendName()}}. Visit
                                <a style="color: #f1592a" href='{{config path="web/secure/base_url"}}'>{{config path="web/secure/base_url"}}</a>
                                for more products and exciting offers.
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
