<?xml version="1.0"?>
<!--
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket SMTP
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Plumrocket_Smtp::prsmtp" title="SMTP" module="Plumrocket_Smtp" parent="Plumrocket_Base::elements" sortOrder="11342548" resource="Plumrocket_Smtp::prsmtp"/>
        <add id="Plumrocket_Smtp::config_prsmtp_log" title="Email Log" module="Plumrocket_Smtp" parent="Plumrocket_Smtp::prsmtp" sortOrder="10" action="prsmtp/log" resource="Plumrocket_Smtp::config_prsmtp_log"/>
        <add id="Plumrocket_Smtp::prsmtp_configuration" title="Configuration" module="Plumrocket_Smtp" parent="Plumrocket_Smtp::prsmtp" sortOrder="20" action="adminhtml/system_config/edit/section/prsmtp" resource="Plumrocket_Smtp::config_prsmtp"/>
    </menu>
</config>