<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <reviewsprossection>
            <htinformation>
                <activationproductsku>M2HTPRP</activationproductsku>
            </htinformation>
            <image_settings>
                <enabled>1</enabled>
                <image_comment><![CDATA[Only jpg, jpeg and png file allowed.]]></image_comment>
                <image_width>150</image_width>
                <image_height>150</image_height>
            </image_settings>
            <verified_settings>
                <enabled>1</enabled>
                <badge_text><![CDATA[Verified Reviews]]></badge_text>
            </verified_settings>
            <feedback_settings>
                <enabled>1</enabled>
                <feedback_text><![CDATA[Was this review helpful ?]]></feedback_text>
            </feedback_settings>
        </reviewsprossection>
    </default>
</config>