<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2020, Zillion Insurance Services, Inc.
 * All rights reserved.
 * Redistribution and use in source and binary forms, with or without modification,
 * are permitted provided that the following conditions are met:
 *   * Redistributions of source code must retain the above copyright notice,
 *     this list of conditions and the following disclaimer.
 *   * Redistributions in binary form must reproduce the above copyright notice,
 *     this list of conditions and the following disclaimer in the documentation
 *     and/or other materials provided with the distribution.
 *   * Neither the name of Zend Technologies USA, Inc. nor the names of its
 *     contributors may be used to endorse or promote products derived from this
 *     software without specific prior written permission.
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
 * ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
 * ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MyZillion\SimplifiedInsurance\Api\MapperInterface" type="MyZillion\SimplifiedInsurance\Model\Mapper" />
    <preference for="MyZillion\SimplifiedInsurance\Api\AdapterInterface" type="MyZillion\SimplifiedInsurance\Adapter\InsuranceAdapter" />
    <preference for="MyZillion\SimplifiedInsurance\Api\ValidateQuoteInterface" type="MyZillion\SimplifiedInsurance\Model\ValidateQuote" />
    <preference for="MyZillion\SimplifiedInsurance\Api\RequestInsuranceInterface" type="MyZillion\SimplifiedInsurance\Model\RequestInsurance" />
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="myzillion_simplifiedinsurance_after_save_order" type="MyZillion\SimplifiedInsurance\Plugin\Magento\Checkout\Model\PaymentInformationManagement" sortOrder="10" disabled="false" />
    </type>
    <type name="Magento\Checkout\Model\GuestPaymentInformationManagement">
        <plugin name="myzillion_simplifiedinsurance_guest_after_save_order" type="MyZillion\SimplifiedInsurance\Plugin\Magento\Checkout\Model\GuestPaymentInformationManagement" sortOrder="10" disabled="false" />
    </type>
    <!-- Zillion Logger -->
    <virtualType name="MyZillion\SimplifiedInsurance\Logger\Handler\ZillionDebug" type="Magento\Framework\Logger\Handler\Base">
      <arguments>
          <argument name="fileName" xsi:type="string">/var/log/zillion-requests.log</argument>
       </arguments>
    </virtualType>
    <virtualType name="MyZillion\SimplifiedInsurance\Model\Logger\ZillionLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">MyZillion\SimplifiedInsurance\Logger\Handler\ZillionDebug</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="MyZillion\SimplifiedInsurance\Helper\Logger">
        <arguments>
            <argument name="logger" xsi:type="object">MyZillion\SimplifiedInsurance\Model\Logger\ZillionLogger</argument>
        </arguments>
    </type>
</config>
